<%- include ('includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
</head>

<body>
    <%- include ('includes/navigation.ejs') %>
    <main>
        <h3 class="form-title">Add New User</h3>
        <form class="user-form" action="/add-user" method="POST">
            <div class="form-control">
                <label for="username">Name</label>
                <input type="text" name="username" id="username">
            </div>

            <button class="btn" type="submit">Add User</button>
        </form>
    </main>
<%- include ('includes/end.ejs') %>
